body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Page title */

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-family: 'Dancing Script' ;
    font-size: 60px;
    color: #463d37;
}

.circuit-subtitle {
    display: flex;
    justify-content: center;
    margin: 10px auto 20px auto;
    font-size: 21px;
    font-weight: bold;
}


/* Carousel */

.section-carousel {
    margin-bottom: 50px;
}

.img-carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    max-height: 400px;
    max-width: 900px;
    overflow: hidden;
    margin: auto;
    box-shadow: 2px 2px 2px 2px grey;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Cards */

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    overflow: hidden;
    align-items: center;
}

.fas {
    font-size:20px;
    float:left;
    margin-right: 15px;
}

.infos-h2 {
    animation: infos 1.5s steps(9);
    overflow: hidden;
    text-align: center;
    font-family: 'Dancing Script' ;
    font-size: 40px;
    color: #463d37;
}

.paragraphe {
    font-family: 'Montserrat';
    font-size: 1rem;
}

@keyframes infos {
    0% {
        width: 0ch;
    }
    100% {
        width: 9ch;
    }
}

.card:hover {
    cursor: pointer;
    transition: transform 1s;
    transform: translateY(-10px);
}



@media (max-width: 576px) { 
    .card-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .circuit-subtitle {
        display: flex;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10%;
    }

    iframe {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .card {
        width: 90%;
    }
  
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 992px) { 

 }

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1200px) { 
 
 }

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    

}