/* Section circuits */ 
.heading {
    margin: 0 auto;

}

.title h1 {
    font-size: 3rem;
    text-align: center;
}

.city {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}


.grid-container{
    grid-template-columns: 900px ;
    grid-template-rows: 400px;
    display: grid;
    justify-content: center;
    margin-top: 25px auto;
    margin-bottom: 25px;
}

.cards-container{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
 
 }

 .grid {
    padding: 0.5em;
    background-color: rgba(238, 228, 241, 0.637);
    border: 2px solid rgba(238, 228, 241, 0.637);
    border-radius: 1rem;
  
}
.card {
    padding: 0.5em;
    background-color: rgba(228, 237, 241, 0.637);
    border: 2px solid rgba(238, 228, 241, 0.637);
    border-radius: 1rem;
    display: flex;
    width: 100%;
    height: 20em;
}

.programme{
    display: inline-block;
    width: 100%;
    margin: 5px;
}

.fa{
    margin-right: 5px;
}
.infos{
    text-align: center;
    font-style: italic;
}

.card:hover{
    cursor: pointer;
    transition: transform 1s;
    transform: translateY(-10px);
}

.img-urban{
    max-width:100%;
    border-radius: 5px;
    margin-right: 20px;
}

.carousel-urban {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

/****** *BUTTTON ********/

.carousel-button{
    background:  rgb(7, 70, 107);
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

#previous{
    left: 5px;
}

#next{
    right: 5px;
}
.carousel-button:hover{
    opacity: 0.70;
}

.carousel-images{
    display: flex;
    transform: translateX(0);
    transition: transform 0.70s;
}

/* media */

@media (max-width: 576px) { 
    
    .title h1 {
        font-size:3rem;
        text-align: center;
    }
    .city ul{
        font-size: 1em;
        display: inherit;
    }
    .cards-container {
        grid-template-columns: 100%;
        display: grid;
        grid-gap: 2rem;
        justify-content: center;
    }
    .grid-container{
        display: none;
    }

    .carousel-urban {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    }

    .carousel-images{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
    }

    .img-urban{
        border-radius: 10px;
        margin-right: 10px;
        width: 100%;
    }
}