#parallax {
    background-image: url("../images/route-66.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x: center;
    height: 2775px;
    display: flex;
}

.photo-galerie {
    width: 100%;
    height: auto;
    margin: 30px 30px 0 30px;
    background-color: ivory;
    padding: 10px;
}

.photo-container {
    width: 40%;
    height: auto;
}