h1 {
    text-align: center;
}
.infos {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Cadres*/
.article {
    width: 400px;
    margin-bottom: 5%;
    background-color:#b8d1f7af;
    border-radius: 3%;
}

/* Images*/ 
.article_image{
    display: flex;
    justify-content: center;
    
}
.article_image img{
    max-width: 80%;
    padding: 10px;
    border-radius: 10%;
}

/* Texte*/
.article_title {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.article_text {
    padding-left: 15px;
    padding-right: 15px;
   }

 /* Bouton back-to-top */

.top_button img {
    max-height: 90px;
    max-width: 90px;
    border-radius: 50%;
 } 

 #backToTop_infos { 
    border:none;
    position:fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
  
#backToTop_infos:hover {
    background-color: #8ea1e1; /* Add a dark-grey background on hover */
}


/* Media queries */

/* X-Small devices (under 576px) */
@media (max-width: 576px) { 
    .article {
        flex-direction:column;
        width : 90%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        margin: auto;
        margin-bottom: 10px;
    }
    .article_image img{
        border-radius: 50%;
        max-width: 50%;
    }
}

 /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) { 
    .article {
        flex-direction:column;
        width : 90%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        margin: auto;
        margin-bottom: 10px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    .article {
        flex-direction:column;
        width : 70%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}
/*
/* Large devices (desktops, 992px and up) *
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) *
@media (min-width: 1200px) {

    }
}
*/
