h1 {
    font-family: "Dancing Script";
    font-size : 3rem;
    color : #463d37;
    text-align : center;
}

.infos {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Cadres*/
.article {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 2%;
    /*background-color:#b8d1f7af;
    border-radius: 3%;*/
}

/* Images*/ 
.article_image{
    display: flex;
    justify-content: center;
    
}
.article_image img{
    max-width: 50%;
    /*padding: 10px;*/
   /* border-radius: 10%;*/
   box-shadow: 2px 2px 2px 2px grey;
}


/* Titre Texte*/
.article_title {
    margin-top: 7%;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    font-family: "Dancing Script";
    font-size : 2rem;
    color : #463d37;
    text-align : center;
}

/* Texte */
.theme_title {
    display: flex;
    justify-content: space-around;
}

.article_text {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    line-height: 1.5;
   }
   

   /* ~ RUBRIQUES ~ */
  
.theme_title p{
    cursor: pointer;
}

.theme_title p:hover {
    color: #8ea1e1;
}

/* Transports */
#transportsText0{
    display: none;
}

#transportsText1{
    display: none;
}

#transportsText2{
    display: none;
}

.activeTransports{
    display: block!important;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    line-height: 1.5;
   }

.titleClicked1{
    background-color: #e4d9e8;
    border-radius: 0.3rem;
    padding: 5px;
}

/* Demarches */

#demarchesText0{
    display: none;
}

#demarchesText1{
    display: none;
}

.activeDemarches{
    display: block!important;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    line-height: 1.5;
   }

.titleClicked{
    background-color: #e4d9e8;
    border-radius: 0.3rem;
    padding: 5px;
}

/* Conseils */
#conseilsText0{
    display: none;
}

#conseilsText1{
    display: none;
}

.activeConseils{
    display: block!important;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    line-height: 1.5;
   }

.titleClicked2{
    background-color: #e4d9e8;
    border-radius: 0.3rem;
    padding: 5px;
}


 /* Bouton back-to-top */

.top_button img {
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
 } 

 #backToTop_infos { 
    border:none;
    position:fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

#backToTop_infos:hover {
    background-color: #8ea1e1;
}


/* Media queries */

/* X-Small devices (under 576px) */
@media (max-width: 576px) { 
    .article {
        flex-direction:column;
        width : 90%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        margin: auto;
        margin-bottom: 10px;
    }
    .article_image img{
        border-radius: 50%;
        max-width: 50%;
    }
}

 /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) { 
    .article {
        flex-direction:column;
        width : 90%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        margin: auto;
        margin-bottom: 10px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    .article {
        flex-direction:column;
        width : 70%;
    }
    .article_title {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}
/*
/* Large devices (desktops, 992px and up) *
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) *
@media (min-width: 1200px) {

    }
}
*/
