/*Style du body*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Style du header*/

header {
    height: 170px;
    width: 100%;
    text-align: center;
}

ul {
    margin: 0;
}


ul li {
    display: inline-block;
    width: 10%;
    background-color: rgb(93, 125, 228);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
}

a {
    text-decoration: none;
    color: white;

}

/*Style du footer*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 146, 146);
}