body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Page title */

.circuit-title {
    display: flex;
    justify-content: center;
}

#circuit-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Carousel */

.img-carousel {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 900px;
    overflow: hidden;
    margin: auto;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Cards */

.container {
    display: flex;
}

.card {
    background-color: #e4d9e8;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 10%;
    border-radius: 10%;
}



iframe {
    width: 400px;
    height: 250px;
    border-radius: 10%;
}

h4 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: oblique;
}

#prog-info {
    color: white;
    text-align: left;
    font-size: 17px;
}




@media (max-width: 576px) { 
    .container  {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card ul {
        display: inherit;
    }
}